 <div class="container" fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="center center">
    
    <div fxFlex="40%" fxFlex.xs="70%" fxFlex.sm="40%" fxFlex.md="30%">
      <app-notesearchbody (eventCreate)="refresh($event)"></app-notesearchbody>
    </div>
    
    <!-- <div fxFlex="40%" fxFlex.xs="70%" fxFlex.sm="40%" fxFlex.md="30%">
      <app-pin-note [notes]="notes | noteFilter: 'pinned'" [grid]="grid" [message]="'pinned'" (updateNoteEvent)="onUpdateNote($event)">
      </app-pin-note>
    </div>
   
    <div fxFlex="40%" fxFlex.xs="70%" fxFlex.sm="40%" fxFlex.md="30%">
      <app-pin-note [notes]="notes | noteFilter" [grid]="grid" [message]="'note'" (updateNoteEvent)="onUpdateNote($event)">
      </app-pin-note>
    </div> -->
</div> 