
.noBorderAndBackground{
    text-align: left;
     width: 91%;
      height: 100%;
      font-size:14pt;
      border: hidden;
      display: flex;
      outline: none
   }
  
   .head{
    width:500px;
    top : 15px;
    position: relative;
  }
  
  /* .button{
    position: absolute;
    right: 10px;
  } */
  
  .title
  {
    margin-top: -50px;
  }
  