<div fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="center center">
  <form [formGroup]="createNoteForm">
    <mat-accordion class="head">
      <mat-expansion-panel [expanded]=false (opened)="showHeader = false" (closed)="onSubmit(createNoteForm.value)"
        (closed)="showHeader = true" hideToggle="true">
        <mat-expansion-panel-header>
          <ng-container *ngIf="showHeader;else tempTtext">
            <mat-panel-title>
              Take a note..
              <!-- <div style="text-align:right; width:100%;">
                <button mat-icon-button matTooltip="new list">
                  <mat-icon>check_box</mat-icon>
                </button>
                <button mat-icon-button matTooltip="new note with image">
                  <mat-icon>image</mat-icon>
                </button>
              </div> -->
            </mat-panel-title>
          </ng-container>
          <ng-template #tempTtext>

          </ng-template>
        </mat-expansion-panel-header>
        <mat-panel-description class="title">
          <input matInput class="noBorderAndBackground" placeholder="Title" formControlName="title"
            [ngClass]="{ 'is-invalid': submitted && f.title.errors }" style="width: 500px;">
          <button mat-icon-button (click)="pinnedNoteSave(createNoteForm.value)" matTooltip="pin">
            <mat-icon>colorize</mat-icon>
          </button>
        </mat-panel-description>
        <mat-panel-description>
          <textarea matInput class="noBorderAndBackground" placeholder="Take a note.." formControlName="description"
            [ngClass]="{ 'is-invalid': submitted && f.description.errors }" style="width: 500px;"></textarea>
        </mat-panel-description>
        <mat-panel-description>
         <!-- <button mat-icon-button matTooltip="Remind me" [matMenuTriggerFor]="remind">
            <mat-icon>add_alert</mat-icon>
          </button>
          <mat-menu #remind="matMenu" class="morecard" (click)="$event.stopPropagation()">
            <div class="input-wrapper">
              <label>Add a remainder to note:</label>
              <hr>
              <input [min]="min" formControlName="remainder" [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1"
                placeholder="select date and time">
              <owl-date-time #dtPicker1></owl-date-time>
            </div>-->
            <div> 
            <button mat-button class="saveButton" (click)="saveRemainder(createNoteForm.value.remainder,createNoteForm.value)">Save</button>
            </div>
          <!--</mat-menu>-->
       
          <!-- <app-change-color [newNote]="createNoteForm.value" (colorChange)="updateColor($event)"></app-change-color>
          <button mat-icon-button matTooltip="Add image">
            <mat-icon>image</mat-icon>
          </button>
          <button mat-icon-button (click)="archiveNoteSave(createNoteForm.value)" matTooltip="Archive">
            <mat-icon>archive</mat-icon>
          </button>
          <button mat-icon-button matTooltip="more">
            <mat-icon>more_vert</mat-icon>
          </button>-->
           <button mat-icon-button matTooltip="undo"> 
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-icon-button matTooltip="redo">
            <mat-icon>redo</mat-icon>
          </button> 
          <button mat-button (click)="showHeader = true">
            <span>close</span>
          </button>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
