<div class="container" fxLayout="column" fxLayoutGap="10%">
  <div class="row1" fxFlex="33%" fxFlex.md="65"></div>

  <div class="row2" fxFlex="34%" fxLayout="row">
    <div class="col1" fxFlex="33%" fxFlex.xs="0"></div>
    <div class="col2" fxFlex="34%" fxFlex.xs="100">
      <mat-card>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">
          <div fxLayoutAlign="center center"><img src='./assets/img/keep-icon.png' alt="google" width=20% height=20%>
          </div>
          <mat-card-title fxLayoutAlign="center center">Forgot Password</mat-card-title>

          <p fxLayoutAlign="center center">Enter your email</p>

          <div class="form-group" class="example-container">
            <mat-form-field>
              <input matInput placeholder="Enter your email" type="emailId" formControlName="emailId"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
              <mat-error *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                <mat-error *ngIf="f.emailId.errors.required">*emailId is <strong>required</strong></mat-error>
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <a class="link" routerLink="/login">Back To Login?</a>
            <div fxLayoutAlign="end end"><button mat-button id="nextbutton">Submit</button></div>
          </div>
        </form>
      </mat-card>
    </div>
    <div col="col3" fxFlex="33%" fxFlex.xs="0"></div>
  </div>

  <div class="row3" fxFlex="33%"></div>
</div>