.mat-menu-item:hover{
    background-color: rgb(255, 233, 133);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.example-container
{
    width: 250px;
}

mat-sidenav-container{
    height:100%;
}
